.wallet-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: $color-text;
  font-family: pixelmix;
  font-size: $font-size-s;

	&__section {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		opacity: 50%;
		line-height: 24px;
	}
	&__value {
		line-height: 24px;
	}
}